#mask-page .webcam {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 1.5rem;
}

#mask-page .cs-maximize {
    max-width: 100%;
    max-height: 100%;
}

#mask-page .fix-height {
    height: 400px;
}