.markdown {
    margin: 5rem 0;
}

.markdown h1 {
    font-size: 2.5rem;
    margin: 4rem 0 2rem 0;

    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5rem;
}

.markdown h2 {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

.markdown .md-image-group {
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
}

.markdown .md-image-group img {
    max-width: 640px;
    max-height: 67vh;
}

@media (max-width: 768px) {
    .markdown .md-image-group img {
        max-width: 100%;
    }
}