/* ----------------------------- 공통 (추후 Global로 옮기기) ----------------------------- */
.svg-icon {
    width: 1rem;
    margin-right: 0.5rem;
    padding-bottom: 0.25rem;
}

.dropdown-animation {
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center
}

.dropdown-item-animation {
    animation: rotateZ 500ms ease-in-out forwards;
    transform-origin: top center
}

/* ----------------------------- Top Navigation ----------------------------- */
#top-nav .nav-item {
    min-width: 75px;
}

#top-nav .dropdown {
    min-width: 125px;
}

#top-nav .navbar-toggler {
    margin: 10px;
}

@media (min-width: 992px) {
    #top-nav .nav-item {
        text-align: center;
    }

    #navbarResponsive {
        animation: none;
    }
}

/* ------------------------------------------------------------- */

.ai-show-window {
    margin: 2em 0;
    padding: 2em 0;
}

.ai-show-window .card {
    max-width: 350px;
}

.ai-show-window .card-img-top {
    background-color: white;
}

/* ------------------------------------------------------------- */

#board h1 {
    margin-bottom: 1rem;
}

#board .write-link {
    display: flex;
    justify-content: flex-end;
}

#board .text-content {
    border-top: white 1px solid;
    border-bottom: whitesmoke 1px solid;
    min-height: 50vh;
}

#board .delete-panel {
    max-width: 53rem;
}

#board label {
    margin-right: 1rem;
    min-width: 3rem;
}

#board input {
    margin-right: 8px;
}

/* ------------------------------------------------------------- */

#board-write label {
    margin-right: 1rem;
    min-width: 5rem;
}

#board-write .title {
    display: flex;
}

#board-write .title input {
    flex-grow: 1;
}

#board-write .content-container {
    margin: auto;
}

#board-write textarea {
    width: 100%;
    height: 50vh;
}

/* ------------------------------------------------------------- */

#mask-detector .shoot-button {
    width: 100%;
    margin: 1rem auto 0 auto;
}

#mask-detector .webcam {
    max-width: 100%;
    margin: 0;
}

#mask-detector .info {
    display: inline-block;
    min-width: 10rem;
}

#mask-detector .spinner-border {
    max-width: 1rem;
    max-height: 1rem;
    margin: 0 5px;
}

/* ------------------------------------------------------------- */

#profile .contact-element-title {
    display: inline-block;
    min-width: 7rem;
    font-weight: bold;
}

/* ------------------------------------------------------------- */
@keyframes growDown {
    0% { transform: rotateX(-90deg) }
    70% { transform: rotateX(20deg) }
    100% { transform: rotateX(0deg) }
}

@keyframes rotateZ {
    0% {
      opacity: 0;
      transform: translateZ(290px);
    }
    80% {
      transform: translateZ(10px);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
}